<div>
    <h1>Restaurantes</h1>
</div>
<section *ngIf="!postback">
    <div class="col-md-12">
        <div class="options well">
            <div class="form-group" [formGroup]="fPesquisa">
                <label>Nome do Restaurante:</label>
                <input type="text" class="form-control" formControlName="nomePesquisa" />
            </div>
            <button class="btn btn-default" (click)="search()"><i class="glyphicon-search"></i> Pesquisar</button>
            <button class="btn btn-success" (click)="novo()"><i class="glyphicon-plus"></i> Novo Restaurante</button>
        </div>
        <h3>Lista</h3>
        <table class="table">
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>-</td>
            </tr>
            <tr *ngFor="let restaurante of restaurantes">
                <td>{{ restaurante.id }}</td>
                <td>{{ restaurante.nome }}</td>
                <td><button class="btn btn-primary" (click)="edit(restaurante)">Editar</button>&nbsp;&nbsp;<button class="btn btn-danger" (click)="delete(restaurante.id)">Remover</button></td>
            </tr>
        </table>
    </div>
</section>
<section *ngIf="postback">
    <div id="formularioRestaurante" >
        <h3>{{ formLabel }}</h3>
        <form [formGroup]="rform" (ngSubmit)="onSubmit()">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label pull-left">Nome</label>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" formControlName="nome" class="form-control" />
                    </div>
                </div>
                <button type="submit" [disabled]="!form.valid" class="btn btn-success">Salvar</button>
                <button type="button" (click)="cancel()" class="btn btn-default">Cancelar</button>
            </div>
        </form>
    </div>
</section>

